body {
  font-family: 'Khand', sans-serif;
}


/**************************
NAVIGATION
**************************/

.bg-primary {
    color: #fff!important;
    background-color: #214f77!important;
}

.navbar-fixed-top {
    top: 0;
    border-bottom: 7px solid #96c6e0;
}


